/* All fonts go here */

/* Futura PT Condensed Bold */
@font-face {
    font-family: 'Futura PT Condensed Bold';
    font-style: normal;
    font-weight: bold;
    src: local('Futura PT Condensed Bold'), url('../fonts/futura/futura-pt-cond-bold.woff') format('woff');
    font-display: swap;
}

/* Futura PT */
@font-face {
    font-family: 'Futura Condensed PT Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Condensed PT Medium'), url('../fonts/futura/futura-condensed-pt-medium-589e44ed1e3a5.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura Condensed PT Medium Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Condensed PT Medium Oblique'), url('../fonts/futura/futura-condensed-pt-medium-oblique-589e4507d391c.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Book'), url('../fonts/futura/futura-pt-book-589a6dec272c3.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT Book Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Book Oblique'), url('../fonts/futura/futura-pt-book-oblique-589e44623c7b4.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT Light';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Light'), url('../fonts/futura/futura-pt-light-589a6e187563a.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT Light Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Light Oblique'), url('../fonts/futura/futura-pt-light-oblique-589e448ae90e2.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Medium'), url('../fonts/futura/futura-pt-medium-589e45b956de4.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT Medium Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Medium Oblique'), url('../fonts/futura/futura-pt-medium-oblique-589e460871ec2.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT DemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT DemiBold'), url('../fonts/futura/futura-pt-demibold-589e43b852117.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT DemiBold Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT DemiBold Oblique'), url('../fonts/futura/futura-pt-demibold-oblique-589e43ec3ea82.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Bold'), url('../fonts/futura/futura-pt-bold-589e44b6aacd3.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT Bold Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Bold Oblique'), url('../fonts/futura/futura-pt-bold-oblique-589e453384a18.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Heavy'), url('../fonts/futura/futura-pt-heavy-589a6dd12187e.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Futura PT Heavy Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Futura PT Heavy Oblique'), url('../fonts/futura/futura-pt-heavy-oblique-589a6e480ab16.woff') format('woff');
    font-display: swap;
}

/* Liberation Sans */

@font-face {
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Liberation Sans'), url('../fonts/liberation/LiberationSans-Regular.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Liberation Sans Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Liberation Sans Italic'), url('../fonts/liberation/LiberationSans-Italic.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Liberation Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Liberation Sans Bold'), url('../fonts/liberation/LiberationSans-Bold.woff') format('woff');
    font-display: swap;
}


@font-face {
    font-family: 'Liberation Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Liberation Sans Bold Italic'), url('../fonts/liberation/LiberationSans-BoldItalic.woff') format('woff');
    font-display: swap;
}

/* Anton */
@font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: normal;
    src: local('Anton'), url('../fonts/anton/anton.woff') format('woff');
    font-display: swap;
}

/* Arimo static weights */
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), url('../fonts/Arimo/static/Arimo-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: local('Arimo Italic'), url('../fonts/Arimo/static/Arimo-Italic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 500;
    src: local('Arimo Medium'), url('../fonts/Arimo/static/Arimo-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 500;
    src: local('Arimo Medium Italic'), url('../fonts/Arimo/static/Arimo-MediumItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 600;
    src: local('Arimo SemiBold'), url('../fonts/Arimo/static/Arimo-SemiBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 600;
    src: local('Arimo SemiBold Italic'), url('../fonts/Arimo/static/Arimo-SemiBoldItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: local('Arimo Bold'), url('../fonts/Arimo/static/Arimo-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 700;
    src: local('Arimo Bold Italic'), url('../fonts/Arimo/static/Arimo-BoldItalic.ttf') format('truetype');
    font-display: swap;
}

/* Bai Jamjuree weights */
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 200;
    src: local('Bai Jamjuree ExtraLight'), url('../fonts/Bai_Jamjuree/BaiJamjuree-ExtraLight.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 200;
    src: local('Bai Jamjuree ExtraLight Italic'), url('../fonts/Bai_Jamjuree/BaiJamjuree-ExtraLightItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 300;
    src: local('Bai Jamjuree Light'), url('../fonts/Bai_Jamjuree/BaiJamjuree-Light.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 300;
    src: local('Bai Jamjuree Light Italic'), url('../fonts/Bai_Jamjuree/BaiJamjuree-LightItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 400;
    src: local('Bai Jamjuree Regular'), url('../fonts/Bai_Jamjuree/BaiJamjuree-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 400;
    src: local('Bai Jamjuree Italic'), url('../fonts/Bai_Jamjuree/BaiJamjuree-Italic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 500;
    src: local('Bai Jamjuree Medium'), url('../fonts/Bai_Jamjuree/BaiJamjuree-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 500;
    src: local('Bai Jamjuree Medium Italic'), url('../fonts/Bai_Jamjuree/BaiJamjuree-MediumItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 600;
    src: local('Bai Jamjuree SemiBold'), url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 600;
    src: local('Bai Jamjuree SemiBold Italic'), url('../fonts/Bai_Jamjuree/BaiJamjuree-SemiBoldItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    src: local('Bai Jamjuree Bold'), url('../fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bai Jamjuree';
    font-style: italic;
    font-weight: 700;
    src: local('Bai Jamjuree Bold Italic'), url('../fonts/Bai_Jamjuree/BaiJamjuree-BoldItalic.ttf') format('truetype');
    font-display: swap;
}

/* Libre Franklin weights */
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 100;
    src: local('Libre Franklin Thin'), url('../fonts/Libre_Franklin/static/LibreFranklin-Thin.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 100;
    src: local('Libre Franklin Thin Italic'), url('../fonts/Libre_Franklin/static/LibreFranklin-ThinItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 200;
    src: local('Libre Franklin ExtraLight'), url('../fonts/Libre_Franklin/static/LibreFranklin-ExtraLight.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 200;
    src: local('Libre Franklin ExtraLight Italic'), url('../fonts/Libre_Franklin/static/LibreFranklin-ExtraLightItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 300;
    src: local('Libre Franklin Light'), url('../fonts/Libre_Franklin/static/LibreFranklin-Light.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 300;
    src: local('Libre Franklin Light Italic'), url('../fonts/Libre_Franklin/static/LibreFranklin-LightItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Franklin Regular'), url('../fonts/Libre_Franklin/static/LibreFranklin-Regular.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Franklin Italic'), url('../fonts/Libre_Franklin/static/LibreFranklin-Italic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    src: local('Libre Franklin Medium'), url('../fonts/Libre_Franklin/static/LibreFranklin-Medium.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 500;
    src: local('Libre Franklin Medium Italic'), url('../fonts/Libre_Franklin/static/LibreFranklin-MediumItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 600;
    src: local('Libre Franklin SemiBold'), url('../fonts/Libre_Franklin/static/LibreFranklin-SemiBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 600;
    src: local('Libre Franklin SemiBold Italic'), url('../fonts/Libre_Franklin/static/LibreFranklin-SemiBoldItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    src: local('Libre Franklin Bold'), url('../fonts/Libre_Franklin/static/LibreFranklin-Bold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 700;
    src: local('Libre Franklin Bold Italic'), url('../fonts/Libre_Franklin/static/LibreFranklin-BoldItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 800;
    src: local('Libre Franklin ExtraBold'), url('../fonts/Libre_Franklin/static/LibreFranklin-ExtraBold.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 800;
    src: local('Libre Franklin ExtraBold Italic'), url('../fonts/Libre_Franklin/static/LibreFranklin-ExtraBoldItalic.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 900;
    src: local('Libre Franklin Black'), url('../fonts/Libre_Franklin/static/LibreFranklin-Black.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Libre Franklin';
    font-style: italic;
    font-weight: 900;
    src: local('Libre Franklin Black Italic'), url('../fonts/Libre_Franklin/static/LibreFranklin-BlackItalic.ttf') format('truetype');
    font-display: swap;
}