:root {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo {
    color: white;
    text-align: center;
    font-family: liberation sans, sans-serif;
}
#canvasHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 1%;
    margin-top: 20px;
    width: 60vw;
    height: auto;
    overflow: hidden;
    background-color: black;
    margin-top: 5%;
}
